<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<startup>
		<supportedRuntime version="v3.1" sku=".NETCore,Version=v3.1" />
	</startup>-->
	<appSettings>
		<!--gmail email settings:-->
		<add key="Host" value="smtp.gmail.com"/>
		<add key="Port" value="587"/>
		<add key="SSL" value="true"/>
		<!--test-account login data:-->
		<add key="FromEmail" value="wannatestthismail@gmail.com"/>
		<add key="Username" value="wannatestthismail@gmail.com"/>
		<add key="Password" value="7QB6cMgr339hBMM"/>
	</appSettings>
</configuration>