
ConsoleGraphApp/ConsoleGraphApp/obj/Debug/net6.0/ConsoleGraphApp.assets.cache
ConsoleGraphApp/ConsoleGraphApp/obj/Debug/net6.0/ConsoleGraphApp.assets.cache
ConsoleGraphApp/ConsoleGraphApp/obj/Debug/net6.0/ConsoleGraphApp.csproj.AssemblyReference.cache
ConsoleGraphApp/ConsoleGraphApp/obj/Debug/net6.0/ConsoleGraphApp.csproj.AssemblyReference.cache
ConsoleGraphApp/ConsoleGraphApp/obj/Debug/net6.0/ConsoleGraphApp.assets.cache
*.cache
*.cache
*.cache
ConsoleGraphApp/ConsoleGraphApp/obj/Debug/net6.0/ConsoleGraphApp.csproj.AssemblyReference.cache
